.reusableButton {
     padding: 15px 50px;
     border: 2px solid #2c2c2c;
     background-color: black;
     color: #ffffff;
     font-size: 1rem;
     cursor: pointer;
     border-radius: 30px;
     transition: all 0.4s ease;
     outline: none;
     position: relative;
     overflow: hidden;
     font-weight: bold;
}

.reusableButton::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: radial-gradient(circle,
               rgba(62, 52, 52, 0.25) 0%,
               rgba(255, 255, 255, 0) 70%);
     transform: scale(0);
     transition: transform 0.5s ease;
}

.reusableButton:hover::after {
     transform: scale(4);
}